<div class="container-fluid div-col-md-12 p-4 bg-gris fondo-app-component">
    <app-header></app-header>
    <div class="container-fluid bg-white rounded-3 fondo-cuerpo">
        <div class="row py-5">
            <div class="col-md-10 offset-md-1">
                <h2 class="great-vibes-regular fs-1 fw-bold mb-5">Editar rol</h2>
            </div>
            <form action="form-iniciar-sesion">
                <div class="row col-md-10 offset-md-1">
                    <div class="col-md-12">
                        <p class="fs-4"><strong>Rol:&nbsp;</strong>Tal</p>
                        <textarea name="descripcion" id="descipcion" class="col-md-12 form-control"></textarea>
                    </div>
                </div>
                <div class="row col-md-10 offset-md-1 justify-content-around mt-5">
                    <button type="button" class="btn btn-secondary col-lg-3">Volver</button>
                    <button type="button" class="btn btn-dorado col-lg-3">Editar Rol</button>
                </div>
            </form>
        </div>
    </div>
</div>